<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Airline Reservation System</title>
        <link rel="icon" type="static/x-icon" href="/static/favicon.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% if not employee %}
        <meta http-equiv="refresh" content="10; URL='{{ url_for('index') }}'" />
        {% endif %}
        <style>
            tr:hover { cursor: pointer; background-color: #f1f1f1; }
        </style>
    </head>
    <body>
        <header>
            <h1>Welcome to Airline Reservation System</h1>
            <h2>Add Flights</h2>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search_flights') }}">Search Flights</a>
            <a href="{{ url_for('flight_information') }}">Flight Information</a>
            <a href="{{ url_for('account') }}">Account</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Sign Out</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif%}
        </nav>
        </header>
        <main>
            {% if employee %}
                <h2><strong>Employees Tools</strong></h2>
                <a href="{{ url_for('account') }}">My Reservations</a>
                <a href="{{ url_for('search_employee') }}">Search Employee</a>
                <a class="account_here">Create New Flights</a>
                <a href="{{ url_for('mod_flight') }}">Modify Existing Flights</a>
                <br><br><hr>
                <h2>Hey {{ name }}! What do you want to do?</h2>
                <summary>Add new flight</summary>
                    <form id="add_flight" action="{{ url_for('create_flight') }}" method="POST">
                        <label for="add_origin">Origin:</label>
                        <input type="text" id="add_origin" name="add_origin" required>

                        <label for="add_destination">Destination:</label>
                        <input type="text" id="add_destination" name="add_destination" required>

                        <label for="add_date">Date:</label>
                        <input type="date" id="add_date" name="add_date" required>

                        <label for="add_seats_available">Flight Capacity:</label>
                        <input type="text" id="add_seats_available" name="add_seats_available" required>

                        <label for="add_ticket_price">Ticket Price:</label>
                        <input type="text" id="add_ticket_price" name="add_ticket_price" required>

                        <button type="submit">Create Flight</button>
                    </form>
            {% else %}
                <h2>You're not supposed to be here, lets take you home!</h2>
            {% endif %}
        </main>
    </body>
</html>